body {
  background: #f9f9f9;
}
.Label_ssr {
  width: 1200px;
  margin: 36px auto 40px;
  position: relative;
}
.Label_ssr > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
}
.Label_ssr .title_label {
  height: 72px;
  margin-left: 78px;
}
.Label_ssr .title_label span {
  line-height: 30px;
  color: #28364a;
  font-size: 20px;
  margin-top: 5px;
}
.Label_ssr .title_label p {
  line-height: 35px;
  color: #999;
  font-family: arial;
  margin-bottom: 0;
}
#product {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#product .nav_left {
  width: 320px;
  float: left;
  background: #ccc;
  border: 1px solid #d1e7fa;
  box-sizing: border-box;
}
#product .nav_left .sc_180 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -16px;
}
#product .nav_left .dd_active {
  background: #28364a;
}
#product .nav_left .dd_active > b {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 3px;
  background: #548dda;
}
#product .nav_left .dd_active a {
  color: #fff;
  border: none;
}
#product .nav_left dl {
  cursor: pointer;
  margin-bottom: 0px;
}
#product .nav_left dl dt {
  background: #fff;
  font-size: 20px;
  color: #28364a;
  overflow: hidden;
  text-indent: 30px;
  font-weight: 500;
}
#product .nav_left dl dt:hover {
  color: #548dda;
}
#product .nav_left dl dt > i {
  line-height: 58px;
  font-weight: 600;
  position: absolute;
  right: 30px;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#product .nav_left dl dd,
#product .nav_left dl dt {
  line-height: 58px;
  height: 58px;
  position: relative;
}
#product .nav_left dl dd > a,
#product .nav_left dl dt > a {
  margin: 0 30px;
  display: block;
  border-bottom: 1px solid #ddd;
  height: 57px;
  color: #548dda;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#product .nav_left dl dd {
  background: #f9f9f9;
  font-size: 14px;
  color: #548dda;
}
#product .nav_left dl dd:hover > a {
  text-indent: 10px;
}
#product .nav_left dl dd:last-of-type a {
  border: none;
}
#product .conatiner_right {
  width: 820px;
  float: right;
}
#product .conatiner_right .title_text span {
  font-size: 20px;
}
#product .conatiner_right .title_text p {
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 0;
}
#product .conatiner_right .title_text > img {
  display: block;
  margin: 12px auto 0;
}
#product .conatiner_right .msg_product .text_main span {
  font-size: 18px;
  color: #28364a;
  line-height: 40px;
  margin-top: 10px;
  display: block;
  padding: 10px 0 0 10px;
}
#product .conatiner_right .msg_product .text_main p {
  font-size: 14px;
  color: #666;
  line-height: 32px;
  padding: 0 10px;
}
#product .conatiner_right .msg_product .first_img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
#product .conatiner_right .msg_product > h1 {
  margin: 10px auto 0;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  color: #28364a;
}
#product .conatiner_right .msg_product ul > li {
  position: relative;
  background: #fff;
  min-height: 200px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
#product .conatiner_right .msg_product ul > li:hover {
  box-shadow: #ccc  2px 2px 20px;
  top: -4px;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}
#product .conatiner_right .msg_product ul > li .img_pr {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}
#product .conatiner_right .msg_product ul > li .img_pr > img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
}
#product .conatiner_right .msg_product ul > li .text_details {
  width: 520px;
  margin-left: 310px;
}
#product .conatiner_right .msg_product ul > li .text_details span {
  font-size: 18px;
  color: #28364a;
  line-height: 40px;
  margin-top: 10px;
}
#product .conatiner_right .msg_product ul > li .text_details p {
  font-size: 14px;
  color: #666;
  line-height: 32px;
}
